@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(../font/notosanskr.css);
*{margin: 0; padding: 0}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 12px;
font-family: "NotoSansKR", Arial, sans-serif;
vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
outline: 0;
}
body {
font-family: "NotoSansKR", Arial, sans-serif;
font-size: 12px;
line-height: 1;
color: #777777;
background: white;
}
ol, ul, li, dt, dd {
list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
border-collapse: separate;
border-spacing: 0;
}
caption, th, td {
text-align: left;
font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}

button {border:none; background:none; cursor:pointer}
button {margin:0; padding:0; border:0 none; background-color:transparent; }
.navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}

.blind, .hidden{display: none}
.clear {
    display: block;
    overflow: hidden;
}
.block {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: "Noto Sans KR", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}
a {
  color: #666;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
cursor: pointer;
text-decoration: none;
}
a:hover, a:active, a:focus {
  outline: none;
text-decoration: none;
	
}
a:visted{}
.bline{display: none}
.clear{clear: both}
/*.hide	{width:0px; height:0px; font-size:0px; line-height:0px; position:absolute; left:-9999px; top:-9999px; visibility:hidden;}
*/
.fl_l {float:left !important;}
.fl_c {display:inline-block; *display:inline; zoom:1;}
.fl_r {float:right !important;}

.ta_l {text-align:left !important;}
.ta_c {text-align:center !important;}
.ta_r {text-align:right !important;}

.va_t {vertical-align:top !important;}
.va_m {vertical-align:middle !important;}
.va_b {vertical-align:bottom !important;}

.border0{border:0!important;}

hr{display: block; margin:10px auto; width:100%; height:1px; background:#eee; border:0}
.font-bold {
  font-weight: 600;
}

.pt0 {padding-top:0px !important;}		.pr0 {padding-right:0px !important;}		.pb0 {padding-bottom:0px !important;}		.pl0 {padding-left:0px !important;}
.pt5 {padding-top:5px !important;}		.pr5 {padding-right:5px !important;}		.pb5 {padding-bottom:5px !important;}		.pl5 {padding-left:5px !important;}
.pt10 {padding-top:10px !important;}	.pr10 {padding-right:10px !important;}		.pb10 {padding-bottom:10px !important;}		.pl10 {padding-left:10px !important;}
.pt15 {padding-top:15px !important;}	.pr15 {padding-right:15px !important;}		.pb15 {padding-bottom:15px !important;}		.pl15 {padding-left:15px !important;}
.pt20 {padding-top:20px !important;}	.pr20 {padding-right:20px !important;}		.pb20 {padding-bottom:20px !important;}		.pl20 {padding-left:20px !important;}
.pt25 {padding-top:25px !important;}	.pr25 {padding-right:25px !important;}		.pb25 {padding-bottom:25px !important;}		.pl25 {padding-left:25px !important;}
.pt30 {padding-top:30px !important;}	.pr30 {padding-right:30px !important;}		.pb30 {padding-bottom:30px !important;}		.pl30 {padding-left:30px !important;}
.pt35 {padding-top:35px !important;}	.pr35 {padding-right:35px !important;}		.pb35 {padding-bottom:35px !important;}		.pl35 {padding-left:35px !important;}
.pt40 {padding-top:40px !important;}	.pr40 {padding-right:40px !important;}		.pb40 {padding-bottom:40px !important;}		.pl40 {padding-left:40px !important;}
.pt45 {padding-top:45px !important;}	.pr45 {padding-right:45px !important;}		.pb45 {padding-bottom:45px !important;}		.pl45 {padding-left:45px !important;}
.pt50 {padding-top:50px !important;}	.pr50 {padding-right:50px !important;}		.pb50 {padding-bottom:50px !important;}		.pl50 {padding-left:50px !important;}
.pt55 {padding-top:55px !important;}	.pr55 {padding-right:55px !important;}		.pb55 {padding-bottom:55px !important;}		.pl55 {padding-left:55px !important;}
.pt60 {padding-top:60px !important;}	.pr60 {padding-right:60px !important;}		.pb60 {padding-bottom:60px !important;}		.pl60 {padding-left:60px !important;}
.pt65 {padding-top:65px !important;}	.pr65 {padding-right:65px !important;}		.pb65 {padding-bottom:65px !important;}		.pl65 {padding-left:65px !important;}
.pt70 {padding-top:70px !important;}	.pr70 {padding-right:70px !important;}		.pb70 {padding-bottom:70px !important;}		.pl70 {padding-left:70px !important;}
.pt75 {padding-top:75px !important;}	.pr75 {padding-right:75px !important;}		.pb75 {padding-bottom:75px !important;}		.pl75 {padding-left:75px !important;}
.pt80 {padding-top:80px !important;}	.pr80 {padding-right:80px !important;}		.pb80 {padding-bottom:80px !important;}		.pl80 {padding-left:80px !important;}
.pt85 {padding-top:85px !important;}	.pr85 {padding-right:85px !important;}		.pb85 {padding-bottom:85px !important;}		.pl85 {padding-left:85px !important;}
.pt90 {padding-top:90px !important;}	.pr90 {padding-right:90px !important;}		.pb90 {padding-bottom:90px !important;}		.pl90 {padding-left:90px !important;}
.pt95 {padding-top:95px !important;}	.pr95 {padding-right:95px !important;}		.pb95 {padding-bottom:95px !important;}		.pl95 {padding-left:95px !important;}
.pt100 {padding-top:100px !important;}	.pr100 {padding-right:100px !important;}	.pb100 {padding-bottom:100px !important;}	.pl100 {padding-left:100px !important;}

.mt0 {margin-top:0px !important;}		.mr0 {margin-right:0px !important;}			.mb0 {margin-bottom:0px !important;}		.ml0 {margin-left:0px !important;}
.mt5 {margin-top:5px !important;}		.mr5 {margin-right:5px !important;}    		.mb5 {margin-bottom:5px !important;}    	.ml5 {margin-left:5px !important;}
.mt10 {margin-top:10px !important;}		.mr10 {margin-right:10px !important;}  		.mb10 {margin-bottom:10px !important;}  	.ml10 {margin-left:10px !important;}
.mt15 {margin-top:15px !important;}		.mr15 {margin-right:15px !important;}  		.mb15 {margin-bottom:15px !important;}  	.ml15 {margin-left:15px !important;}
.mt20 {margin-top:20px !important;}		.mr20 {margin-right:20px !important;}  		.mb20 {margin-bottom:20px !important;}  	.ml20 {margin-left:20px !important;}
.mt25 {margin-top:25px !important;}		.mr25 {margin-right:25px !important;}  		.mb25 {margin-bottom:25px !important;}  	.ml25 {margin-left:25px !important;}
.mt30 {margin-top:30px !important;}		.mr30 {margin-right:30px !important;}  		.mb30 {margin-bottom:30px !important;}  	.ml30 {margin-left:30px !important;}
.mt35 {margin-top:35px !important;}		.mr35 {margin-right:35px !important;}  		.mb35 {margin-bottom:35px !important;}  	.ml35 {margin-left:35px !important;}
.mt40 {margin-top:40px !important;}		.mr40 {margin-right:40px !important;}  		.mb40 {margin-bottom:40px !important;}  	.ml40 {margin-left:40px !important;}
.mt45 {margin-top:45px !important;}		.mr45 {margin-right:45px !important;}  		.mb45 {margin-bottom:45px !important;}  	.ml45 {margin-left:45px !important;}
.mt50 {margin-top:50px !important;}		.mr50 {margin-right:50px !important;}  		.mb50 {margin-bottom:50px !important;}  	.ml50 {margin-left:50px !important;}
.mt55 {margin-top:55px !important;}		.mr55 {margin-right:55px !important;}  		.mb55 {margin-bottom:55px !important;}  	.ml55 {margin-left:55px !important;}
.mt60 {margin-top:60px !important;}		.mr60 {margin-right:60px !important;}  		.mb60 {margin-bottom:60px !important;}  	.ml60 {margin-left:60px !important;}
.mt65 {margin-top:65px !important;}		.mr65 {margin-right:65px !important;}  		.mb65 {margin-bottom:65px !important;}  	.ml65 {margin-left:65px !important;}
.mt70 {margin-top:70px !important;}		.mr70 {margin-right:70px !important;}  		.mb70 {margin-bottom:70px !important;}  	.ml70 {margin-left:70px !important;}
.mt75 {margin-top:75px !important;}		.mr75 {margin-right:75px !important;}  		.mb75 {margin-bottom:75px !important;}  	.ml75 {margin-left:75px !important;}
.mt80 {margin-top:80px !important;}		.mr80 {margin-right:80px !important;}  		.mb80 {margin-bottom:80px !important;}  	.ml80 {margin-left:80px !important;}
.mt85 {margin-top:85px !important;}		.mr85 {margin-right:85px !important;}  		.mb85 {margin-bottom:85px !important;}  	.ml85 {margin-left:85px !important;}
.mt90 {margin-top:90px !important;}		.mr90 {margin-right:90px !important;}  		.mb90 {margin-bottom:90px !important;}  	.ml90 {margin-left:90px !important;}
.mt95 {margin-top:95px !important;}		.mr95 {margin-right:95px !important;}  		.mb95 {margin-bottom:95px !important;}  	.ml95 {margin-left:95px !important;}
.mt100 {margin-top:100px !important;}	.mr100 {margin-right:100px !important;}		.mb100 {margin-bottom:100px !important;}	.ml100 {margin-left:100px !important;}



.w50{width:50px!important;}
.w100{width:100px!important;}
.w150{width:150px!important;}
.w200{width:200px!important;}
.w250{width:250px!important;}
.w300{width:300px!important;}
.w350{width:350px!important;}
.w400{width:400px!important;}
.w450{width:450px!important;}
.w500{width:500px!important;}
.w550{width:550px!important;}
.w600{width:600px!important;}
.w650{width:650px!important;}